In [2]:
import pandas as pd
import ast

### Nettoyage Résultats

In [3]:
results = pd.read_html('imports/olympic_results.html', index_col=0, encoding='utf-8')[0]
results.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN

In [4]:
# informations des colonnes
results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 162804 entries, 0 to 162803
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   discipline_title       162804 non-null  object
 1   event_title            162804 non-null  object
 2   slug_game              162804 non-null  object
 3   participant_type       162804 non-null  object
 4   medal_type             20206 non-null   object
 5   athletes               7976 non-null    object
 6   rank_equal             32526 non-null   object
 7   rank_position          158926 non-null  object
 8   country_name           162804 non-null  object
 9   country_code           157768 non-null  object
 10  country_3_letter_code  162804 non-null  object
 11  athlete_url            129991 non-null  object
 12  athlete_full_name      141646 non-null  object
 13  value_unit             78646 non-null   object
 14  value_type             90049 non-null   object
dtypes: object(15)
memory usage: 19.9+ MB

In [5]:
# dimensions
results.shape

(162804, 15)

In [6]:
def explode_athletes(row: pd.Series) -> list:
    '''
    Duplique une ligne du DataFrame en fonction du nombre d'athlètes
    '''
    athletes = row['athletes']
    if pd.isna(athletes) or athletes == '[]':
        return [row]
    
    athletes = ast.literal_eval(athletes)
    new_rows = []
    for athlete in athletes:
        new_row = row.copy()
        new_row['athlete_full_name'] = athlete[0]
        new_row['athlete_url'] = athlete[1]
        new_rows.append(new_row)
    return new_rows

In [7]:
# applatir les lignes selon les athlètes
expanded_rows = []
for index, row in results.iterrows():
    expanded_rows.extend(explode_athletes(row))

In [8]:
cleaned_results = pd.DataFrame(expanded_rows)

In [9]:
# suppression de la colonne athletes
cleaned_results.drop(columns=['athletes', 'medal_type'], inplace=True)

In [10]:
# dimensions
cleaned_results.shape

(170780, 13)

In [11]:
# vérifier les doublons
cleaned_results.duplicated().sum()

144

In [12]:
# supprimer les doublons
cleaned_results.drop_duplicates(inplace=True)

In [13]:
# dimensions
cleaned_results.shape

(170636, 13)

In [14]:
# on vérifie les valeurs uniques de la colonne 'value_type'
cleaned_results['value_type'].unique()

array([nan, 'POINTS', 'SC_REST$IRM', 'IRM', 'CODE', 'TIME', 'NO_TIME',
       'IRM_POINTS', 'STROKES', 'WEIGHT', 'DISTANCE', 'RANK', 'SCORE'],
      dtype=object)

In [15]:
# supprimer les value_type associés à des valeurs nulles
for value_type in cleaned_results['value_type'].unique():
    value_type_rows = cleaned_results[cleaned_results['value_type'] == value_type]
    if value_type_rows['value_unit'].isna().all():
        cleaned_results.loc[cleaned_results['value_type'] == value_type, 'value_type'] = None

In [16]:
# voir les lignes dont value_type est manquante et la valeur de value_unit est renseignée
cleaned_results[cleaned_results['value_type'].isna() & cleaned_results['value_unit'].notna()][0:5]

,discipline_title,event_title,slug_game,participant_type,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
3364,Speed skating,Women's Mass Start,beijing-2022,Athlete,False,11,Netherlands,NL,NED,https://olympics.com/en/athletes/marijke-groen...,Marijke GROENEWOUD,27.46,NaN
3369,Speed skating,Women's Mass Start,beijing-2022,Athlete,False,8,Japan,JP,JPN,https://olympics.com/en/athletes/ayano-sato,Ayano SATO,33.88,NaN
3370,Speed skating,Women's Mass Start,beijing-2022,Athlete,False,26,Republic of Korea,KR,KOR,https://olympics.com/en/athletes/ji-woo-park,Ji Woo PARK,33.70,NaN
3375,Speed skating,Women's Mass Start,beijing-2022,Athlete,False,15,ROC,ROC,ROC,https://olympics.com/en/athletes/elizaveta-gol...,Elizaveta GOLUBEVA,27.81,NaN
3376,Speed skating,Women's Mass Start,beijing-2022,Athlete,False,7,Belarus,BY,BLR,https://olympics.com/en/athletes/maryna-zuyeva,Maryna ZUYEVA,45.47,NaN

In [17]:
# il s'agit d'un chrono donc on crée une nouvelle valeur pour value_type
cleaned_results.loc[cleaned_results['value_type'].isna() & cleaned_results['value_unit'].notna(), 'value_type'] = 'CHRONO'

In [18]:
# maintenant l'inverse, voir les lignes dont value_type est renseignée et value_unit est manquante
cleaned_results.loc[cleaned_results['value_type'].notna() & cleaned_results['value_unit'].isna()][0:5]

,discipline_title,event_title,slug_game,participant_type,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
10267,Rowing,Lightweight Women's Double Sculls,tokyo-2020,GameTeam,False,1,Italy,IT,ITA,https://olympics.com/en/athletes/valentina-rodini,Valentina RODINI,NaN,TIME
10267,Rowing,Lightweight Women's Double Sculls,tokyo-2020,GameTeam,False,1,Italy,IT,ITA,https://olympics.com/en/athletes/federica-cesa...,Federica CESARINI,NaN,TIME
10268,Rowing,Lightweight Women's Double Sculls,tokyo-2020,GameTeam,False,2,France,FR,FRA,https://olympics.com/en/athletes/laura-tarantola,Laura TARANTOLA,NaN,TIME
10268,Rowing,Lightweight Women's Double Sculls,tokyo-2020,GameTeam,False,2,France,FR,FRA,https://olympics.com/en/athletes/claire-bove,Claire BOVE,NaN,TIME
10269,Rowing,Lightweight Women's Double Sculls,tokyo-2020,GameTeam,False,3,Netherlands,NL,NED,https://olympics.com/en/athletes/marieke-keijser,Marieke KEIJSER,NaN,TIME

In [19]:
# ces valeurs sont inutilisables, on les remplace par des NaN
cleaned_results.loc[cleaned_results['value_type'].notna() & cleaned_results['value_unit'].isna(), 'value_type'] = None

In [20]:
# valeurs manquantes
cleaned_results.isna().sum()

discipline_title              0
event_title                   0
slug_game                     0
participant_type              0
rank_equal               137300
rank_position              3879
country_name                  0
country_code               5238
country_3_letter_code         0
athlete_url               25586
athlete_full_name         13155
value_unit                87841
value_type                87841
dtype: int64

In [21]:
# exportation
cleaned_results.to_csv('exports/olympic_results_cleaned.csv', index=False , encoding='utf-8')

### Nettoyage Athlètes

In [22]:
athletes = pd.read_json('imports/olympic_athletes.json', encoding='utf-8')
athletes.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,None,None
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,None,None
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,None,None
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,None,None
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,None,None

In [23]:
# informations des colonnes
athletes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB

In [24]:
# vérifier les doublons
athletes.duplicated().sum()

0

In [25]:
# vérifier les valeurs manquantes
athletes['athlete_year_birth'].isna().sum()

2456

In [26]:
# remplacer les valeurs nulles par 0
athletes.fillna({ 'athlete_year_birth': 0 }, inplace=True)

In [27]:
# convertir l'année de naissance en entier
athletes['athlete_year_birth'] = athletes['athlete_year_birth'].astype(int)

In [28]:
# vérifier le type des dates de naissance
athletes['athlete_year_birth'].dtype

dtype('int64')

In [29]:
# vérifier les valeurs nulles
athletes.isna().sum()

athlete_url                 0
athlete_full_name           0
games_participations        0
first_game                 22
athlete_year_birth          0
athlete_medals          60552
bio                     53062
dtype: int64

In [30]:
# nettoyer les biographies
athletes['bio'] = athletes['bio'].str.strip().replace('\n', ' ')

In [31]:
# formater le nombre de médailles
athletes['athlete_medals'] = athletes['athlete_medals'].replace('\n', '')

In [32]:
# en prévision de l'insertion en bdd, on vérifie les différences entre les dataframes cleaned_results et athletes
cleaned_results_athletes = cleaned_results['athlete_full_name'].unique()
athletes_athletes = athletes['athlete_full_name'].unique()

# différences
missing_athletes = set(cleaned_results_athletes) - set(athletes_athletes)
missing_athletes

{'Yury Zakharov',
 'Abdel Malek El-Aouad',
 'Bob Curry',
 'Rubem Ribeiro',
 'Jong-Hun Sin',
 'George Smith',
 'Leri Khabelovi',
 'Rodolfo Wagner',
 '- Viéville',
 'Cesare Locatelli',
 'Dimitar Galinchev',
 'Carl Körting',
 'Casimiro Vega',
 'Judit Kéri-Novák',
 'Charlie Purdy',
 'Fazlollah Dehkhoda',
 'Greetje Gaillard',
 'Georgi Georgiev',
 'Hayk Yeghiazaryan',
 'Yelena Pavluxina',
 'Marcel Moret',
 'William Plant',
 'Yanan Wu',
 'Dmitry Bochkaryov',
 'Bandi Damdinjavyn',
 'Bob Maslen-Jones',
 'Agnes Olsen',
 'Erich Gallwitz',
 'Ali Heidar Ali Mohamed',
 'P. F. Koukoudakis',
 'Freddie Meachem',
 'Alexandros Khalkokondylis',
 'Chung-Yeol Yang',
 'Mohamed Al-Takroni',
 'Josef Pavlík',
 'Cemil Sarıbacak',
 'John Walker',
 'Tin Dekkers',
 'Guðmundur Helgason',
 'Abdul Rehman',
 'Bob Fowler',
 'Austin Anthony',
 'Jean Madelaine',
 'Edmond Filiâtre',
 "Frank O'Neill",
 'Harold Simpkins',
 'Umberto Del Carlo',
 'Lyuben Khristov',
 'Tarek Fouad',
 '- Pelat',
 'Konstantinos Loudaros',
 'Aleksey Mishin',
 'Rudolf Heidegger',
 'František Havelka',
 'Bakshish Singh',
 'Jacob Simonis',
 'Oscar Aas Haugen',
 'Hennadiy Nikon',
 'Boldbaatar Khaliuny',
 'Émile-Georges Drigny',
 'Antonín Siegl',
 'Seong-Ryeol Jegal',
 'Ned Barrett',
 'Wijit Suksompong',
 'Valdimar Örnólfsson',
 'Lucien Bottin',
 'Yevgeny Alekseyev',
 'Joe Barbosa',
 'Saad El-Din El-Shorbagui',
 'Irina Krivko',
 'Floyd Rowe',
 "Vikt'or K'rat'asiuk'i",
 'Aleksey Aydarov',
 'Ragai Youssef',
 'Mohamed Al-Kaabi',
 'Aligri Amletto',
 'Wen-Chia Wu',
 'Mohamed Selim Soheim',
 'J. Adriaenssens',
 'Harry Blaus',
 'Sim Price',
 'Jamal Ahmed Al-Doseri',
 'Erdenebat Sandagsürengiin',
 'Chanyalew Haile',
 'Augusto Premoli',
 'Clarrie Gordon',
 'Nelya Sevostiyanova',
 'Ekrem Güçlüer',
 'Jack King',
 'Abdul Haji Abdul Latheef',
 'Fabienne Etlensperger',
 'J. A. Tynan',
 'Kostiantyn Shkolniy',
 'Yu Du',
 'Hermann Müller',
 'Aleksandr Dekhayev',
 'Ahmed Al-Arbeed',
 'Petro Denysenko',
 'Aleksandr Bogdanovich',
 'K. Salouros',
 'Edy Paul',
 'Irving Pease',
 'Tetiana Shelekhova',
 'Bryan Harper',
 'Jack Nielsen, Jr.',
 'Ernest McCartney',
 'Ioannis Seraidaris',
 'Ui-Je Mun',
 'Salvador García',
 'Englebert Mollin',
 'Arthur St. Norman',
 'Yury Klyuyev',
 'Karl Jank',
 'L. Lacombe',
 'Latt Shwe Zin',
 'Andrés Gerard, Sr.',
 'Attila Szekrényessy',
 'Chandgi Ram',
 'Fatimə Alkərəmova',
 'Mick McKeon',
 'Abebe Mekonnen',
 'Choji Hosaka',
 'Eornel Kell',
 'Ena Stockley',
 'Percy May',
 'Martin Jacobsen',
 'Alphonso Correia',
 'Jack Wardrop',
 'Oleh Polyvach',
 'Rasoul Khadem Azgadhi',
 'Sumyaabazar Dolgorsürengiin',
 'Olga Gayeva',
 'Víctor Saucedo',
 'Giannis Gavrilidis',
 'Bakhtiyar Bayseitov',
 'Vazik Ghazarian',
 'Fred Rödiger',
 'Erich Schnarre',
 'Vasily Yegorov',
 'Shamsiddin Khudoyberdiyev',
 'Alfreð Karl Alfreðsson',
 'Jan Plichta',
 'Karel Pott',
 'Nataliya Donchenko',
 'Borislav Stoyanov',
 'Se-Gwang Ri',
 'Ingrid Berghmans',
 'Nikolay Kulpin',
 'Serhiy Holubytskiy',
 'Abraham Mok',
 'John Røen',
 'Anatoliy Cherepovych',
 'Tai-Koo Kim',
 'Robert Reid, Sr.',
 'Bruce Wells',
 'Jean Chastanié',
 'Byeong-Guk Jeon',
 'Rəşəd Əhmədov',
 'Teodors Sukatnieks',
 'Vacislav Neiman',
 'Gwang-Je Jo',
 'Nadezhda Andreyeva-Patrikeyeva',
 'Anna Gorchonok',
 'Ji Li',
 'Jean Berhouzouq',
 'Kenneth Nelson',
 'Katharine Connal',
 'Trev Haynes',
 'Sven Palle Sørensen',
 'František Řezáč',
 'Donald Slack',
 'Bor Jamtsyn',
 'Johan Heijm',
 'Rafael Pérez',
 'Walter Hoover, Sr.',
 'Théo Jeitz',
 'Altansükh Sodnomdarjaagiin',
 'Gustave Amoly',
 'Jorge Perry',
 'Mimoun Ouitot',
 'Leendert van Oosten',
 'Robert Eustache',
 'Georges Dumonteuil',
 'Ying Liu',
 'Steve Alger',
 'Václav Bičák',
 'Sumol Sumontame',
 'Mary Proença',
 'Dikke Eger-Bergman',
 "M'Bar N'Diaye",
 'Dietmar Schweninger',
 'Altantuyaa Sanjaajamtsyn',
 'Charles Johnson',
 'Sami Al-Baker',
 'Amund Sjøbrend',
 'Eric Prabhakar',
 'A. Abdul Razzak',
 'Dick Garrard',
 'Charles-Jean LeVavasseur',
 'Mustafa Osmanlı',
 'Sergey Klimov',
 'Les Carney',
 '- Touche',
 'Byambasüren Shagdaryn',
 'Adelaide Boddam-Whetham',
 'Aristidis Akratopoulos',
 'Willan Bouza',
 'Edward Beeson',
 'Annegret Richter',
 'Hyeon-Ju Sin',
 'Athina Bokhori',
 'O. Molina',
 'D. Frangopoulos',
 'Dušan Zinaja',
 'Jacobus Lorenz',
 'William Murray',
 'Paul Fischer',
 'Konstantin Lukashik',
 'Albert Nuss',
 'Georges Mauvezain',
 'Hassan Eghmaz',
 'Ilunga Zatara Mande',
 'André Franquenelle',
 'Ahmed Khalaf Ali',
 'Jenn Stuczynski-Suhr',
 'Petros Leonidis',
 'Alekhis Fotiadis',
 'Fränz Ehringer',
 'Jack Treadaway',
 'Marina Sysoyeva',
 'Jacques De Wykerslooth De Rooyesteyn',
 'Gertrudes Lozada',
 'Gilbert Bougnol',
 'Bob Broadbent',
 'Zdzisław Latawiec',
 'Bertie Heathcote',
 'Maurice Laraigne',
 'Kornélia Ihász',
 'Bronislav Samoylov',
 'Susann Sundqvist',
 'D. Flaherty',
 'Omar Ehrman',
 '- Reynal',
 'Henry Nielsen',
 'Raymond Van Rumbecke',
 'Peter Scott',
 '- Chambeau',
 '- Cabanac',
 'Rohinton Noble',
 'Sid Patterson',
 'Jin-Cheol Jeon',
 'Hae-Ri Jo',
 'Marilyn Chua',
 'Vicente Abad',
 'Al Young',
 'Sigmund Søfteland',
 'William Crabbie',
 'Cornelius von Lubowiecki',
 'Berit Christoffersen',
 'Nehemia Sirkis',
 'Bayar Palamdorjiin',
 'Vasil Bozhilov',
 'Aleksey Kiselyov',
 'Philip Schuster',
 'Khristo Kochov',
 'Joé Kieffer',
 'Lkhamjav Tsedenjavyn',
 'Bjørnar Vestøl',
 'Wohib Masresha',
 'Clément Roux',
 'David Fredericks',
 'Dmitry Matveyev',
 'Anton Gottstein',
 'Velichka Mincheva',
 'Muhannad Saif El-Din',
 'Bechara Abou Rejalie',
 'Charley Bélanger',
 'Greg Mannino',
 'Al Loftes',
 'Fernando Richeri',
 'Jørgen Gabrielsen',
 'Hennadiy Krasylnykov',
 'Byron Wells',
 'Fedor Weinschenk',
 'Lucien Lésna',
 'Harry Passmore',
 'Mereg Mangascia',
 'Leon Bebler',
 'José Hernández',
 'Sayed Al-Asibi',
 'J. Tuzolto',
 'Peggy Butler',
 'Archibald Graham',
 'Karel Lomecký',
 'Andrey Bogdanovich',
 'Reidar Raaen',
 'Nam-Gyun Jeong',
 'Rich Weiss',
 'Willem van der Steen',
 'Kostas Tsiklitiras',
 'Paul Neukomm',
 'Hanni Rehborn',
 'Åse Idland',
 'Omar Moussa',
 'Yong-Hee Choi',
 'Lewis Tewanima',
 'George Marshall',
 'Frits Bruseker',
 'George Stapf',
 'John Kidley',
 'Alex Ireland',
 'Carlos Serrano',
 'Haluk Kakış',
 'Grigory Voronkov',
 'Léon Tétart',
 '- Hébert',
 'Yeong-Eun Sin',
 'Norberto Cabrera',
 'Tuomas Grönman',
 'John Nuttall',
 'V. Diju',
 'Feofan Lebedev',
 'Maurice Vignerot',
 'Lylian Lecomte-Guyonneau',
 'Marcel Dupraz',
 'Jean Depassio',
 'Ernie Roe',
 'Stanisław Wilczyński',
 'Gustav Tiefenthaler',
 'Axel Persson',
 'Américo Cattaruzza',
 'Stefán Sörensson',
 'Eleanor Goss',
 'Anna Breuer',
 'Yelena Ilyina',
 'Omari Abdallah',
 'Guy Granet',
 'Karola Schustereder',
 'Nabil Chouéry',
 'Matthew Steytler',
 'Ted White',
 'Kittipon Kittikul',
 'Natale Rea',
 'Guy Hernandez',
 'Bjørn Dyrdahl',
 'Bob Likins',
 'V. Khatzis',
 'Pyotr Sedov',
 'István Raggambi',
 'Orlando Chaves',
 'Édouard Taylor',
 'Michel Rozan',
 'Petro Koshelenko',
 'Nicanor Villarreal',
 'Grant Butcher',
 'Aleksandr Schultz',
 'André Blusset',
 'Lincoln Johnson',
 'Ösökhbayar Gelegjamtsyn',
 'Tadeusz Starzyński-Starybrat',
 'Kiều Oanh Nguyễn',
 'Alex Wilson',
 'J. M. Stuitl',
 'Ölzii-Orshikh Jamsrangiin',
 'Hyeong-Jun Ju',
 'Charlie Tucker',
 'Ingrid Lauridsen',
 'Zambia Melakhroinou',
 'Bill Knight',
 'Alf Shawyer',
 'José de Amézola',
 'José María de Palleja',
 'Larry Cummins',
 'Jae-Seong Jeong',
 'Maxie McCullagh',
 'Andriy Hovorov',
 'Friedrich Karl, Prince von Preußen',
 'Lotfi Joudi',
 'Mohammad Taj',
 'Willibrordus Pouw',
 'Murodzhon Khalmuratov',
 'Théo Kueny',
 'Dimitrios Konstantinidis',
 'Karl Lampelmayer',
 'Imre Elek',
 'Singchow Chang',
 'Sofiane Ben Letaief',
 'Christiaan van Velzen',
 'Hilda Wallis',
 'Jack Keenan',
 'Nassreddin El-Agely',
 'Aleksandr Akhyun',
 'Sergei Mureico',
 'Bjørn Einar Romøren',
 'Walter White',
 'Aukusti Sihvola',
 'Hussam El-Badrawi',
 '- Sunarto',
 'Yeong-Chang Go',
 'Kostiantyn Miliaiev',
 'C. H. Smith',
 'László Lichteneckert',
 'Jock Miller',
 'Mariya Grozdeva',
 'Roman Yeryomin',
 'Yong-I Park',
 'Leon Pyrgos',
 'Aleksey Kuznetsov',
 'Gil-Ok Jeong',
 'Charles Deckert',
 'Dezső Wein',
 'Jørgen Jensen',
 'Valentina Grigoryeva',
 'Cecil Bissett',
 'Fernand Rapin',
 'Jean Psiakis',
 '- Mia Audina',
 'Aleksandra Gerasimenya',
 'P. V. Sindhu',
 'Dagvadorj Tserendorjiin',
 'Marilyn Corson',
 'Sergey Kudrevich',
 'Mihai Bîră, Sr.',
 'R. Uri',
 'Wally Rivers',
 'Fabrizio Nieva',
 'Jimmy Davies',
 'Alex Duncan',
 'Håkan Nyblom',
 "Ana T'at'ishvili",
 'Georgy Fyodorov',
 'Oscar Pérez',
 'Tom Longboat',
 'Li Xu',
 'Ruedi Mangisch',
 'Bakhrom Mendibayev',
 'Fritz von Oesterley',
 'Kálmán Becske',
 'B. Zapletal',
 'Aleksey Selikhov',
 'Lew Rush',
 'Vadim Shikarev',
 'Jianqiang Chen',
 'John Kennedy',
 'Anatoly Vedyakov',
 'Brynja Þorsteinsdóttir',
 'Christy McLoughlin',
 'John Purcell',
 'Louisa Robert',
 'Dinara Alimbekova',
 'Alexandre Clergue',
 'Robert Rey',
 'Ab Oord',
 'Amanda Dodd',
 'Mikhail Pryakin',
 'Aleksey Tsvetkov',
 'Ovaness Meguerdonian',
 'Vichai Limcharoen',
 'Khamis Al-Subhi',
 'Alison Owen-Spencer',
 'Maksim Alyoshin',
 'Natalia Nasaridze-Çakir',
 'Jacques Sautereau',
 'Deok-Ha Yun',
 'Fernand Saivé',
 'A. Grigoriadis',
 'Rudie Lubbers',
 'José Nozari',
 'Andrea Kékesy',
 'Albert Bourcier',
 'François Denis de Rivoyre',
 'Libuše Veselá',
 'Ho-Jun Li',
 'Edwin Vásquez',
 'Barb Olmsted',
 'John Woodcock',
 'Þorsteinn Leifsson',
 'C. Hamel',
 'Yelena Besova',
 'Nataliya Korostelyova',
 'Naji Keyrouz',
 'Franz Donth',
 'John Hartranft',
 'Jesus VILLAFANE MARQUINA',
 'Maria Piątkowska-Chojnacka-Ilwicka',
 'Changte Lalremsaga',
 'August Elmik',
 'Miloslava Tumová-Zahorska',
 'Mbolatiana Ramanisa',
 'Oidov Zevegiin',
 'Abdi Gulet',
 'František Stetina',
 'Dong-U Gang',
 'Lou Laurie',
 'Marianna Némethová-Krajčírová',
 'Jackie Callura',
 'Dmitry Sinitsyn',
 '- Juliana',
 'Gizelle Miskey',
 'Craig Ward',
 'Sansarbileg Boldyn',
 'Rodolfo Redaelli',
 'Jacques Cariou',
 'Verner Magnusson',
 'Hanno Ströher',
 'Iryna Kostiuchenkova',
 'Sərdar Həsənov',
 'Burhan Bozkurt',
 'Carlomagno Meneses',
 'Siegfried Haberl',
 'Erzsébet Bartos-Heldt',
 'Nirmala Sheoran',
 'Antonius Budi Ariantho',
 'Ihor Della-Rossa',
 'Geeta Zutshi',
 'Mac Joachim',
 'Amedée Piguet',
 'Harry Young',
 'Ernest Meyer',
 'Jack Cropp',
 'Surapong Sripirom',
 'Berger Torrissen',
 'Trung Lê Trung',
 'José Luis Torres',
 'Joaquín Miquel',
 'Murad Umakhanov',
 '- Ollivier',
 'Serhiy Novikov',
 'Hans Fraberger',
 'Seong-Il Song',
 'Elçin Mehdi İsmayılov',
 'Oleksandr Tkachenko',
 'Rachid El-Haddak',
 'Colombo Zevola',
 'Sergey Kochetkov',
 'Won-Gwon Kim',
 'Miroslav Metzner-Fritz',
 'Dariimaa Natjavyn',
 'Khishigbaatar Gombyn',
 'Bashay Feleke',
 'Jan Mildev',
 'Abrar Osman Adem',
 'Gadissie Edato',
 'Gino Cantone',
 'Ingenuino Dallagio',
 'Levan Gureshidze',
 'Bill Stevenson',
 'Mykola Vasyliev',
 'Sarjarao Suryavanshi',
 'Jesús Oyarbide',
 'Sergio Martínez',
 'Adolf Rieger',
 'Maksim Iglinsky',
 'Josef Bechyně',
 'Tjeerd Pasma',
 'Amarjargal Tserendorjiin',
 '- Fábio',
 'Guram Biganishvili',
 'Vladimir Shilykovsky',
 'Jovan Đolić',
 'Ayodele Peters',
 'A. Luña Soria',
 'Sven Emil Lundgren',
 'Maas van der Feen',
 'Léon Gingembre',
 'Pam Kilborn-Ryan',
 'Hilde Walterová',
 'Jean Roldes',
 'Robert Thach',
 'José Llobera',
 'Helmer Måhl',
 'Miroslav Málek',
 'Sun-Cheon Gwon',
 'Israel Wijnschenk',
 'Gaston Koëger',
 'Georgi Markov',
 'Jaap Eden',
 'Juozas Vinča',
 'Thor-Øistein Endsjø',
 'Eduardo Arrillaga',
 'Olha Teslenko',
 'Linar Salimullin',
 'Jock Dalrymple',
 'Jindřich Lepiere',
 'José Andía',
 'Oleksiy Korobeinikov',
 'Eduardo Florez',
 'Henri Stuckmann',
 '- Rouchy',
 'Cheong-Tae Kim',
 'Edouard Léonard',
 'Snezhana Yurukova',
 '- Bouchon',
 'José Viccario',
 'Ord Fink',
 'Davit Khakhaleishvili',
 'Farid Salman Makhdi',
 'Rudolf Kus',
 'Phil Edwards',
 'W. Stewart',
 'Ag. Diamantopoulos',
 'Seong-Ja Sin',
 'Jenny Thompson',
 'Ken Bartholomew',
 'Milka Akinyi',
 'Jong-Moon Byun',
 'Oksana Skliarenko',
 'Mohammed Alghafri',
 'Dmitry Sakunenko',
 'Fred Gilmore',
 'Ali Reza Azari',
 'Joseph Leresae',
 'Soňa Vašíčková',
 'Fabián Velasco',
 'Per Erik Løkken',
 'Harry Parker',
 'Muhammad Sadiq',
 'Béla Szabó',
 'Otto Pohla',
 'Oksana Menkova',
 'Mario Giuria',
 'Chang-Nam Pyeon',
 'Rolands Upatnieks',
 'Ted Boronovskis',
 'Nils Karlsson',
 'Charles Palmer-Tomkinson',
 'Joseph Jessop',
 'Magdaleno Cano',
 '- Sandra',
 'Aleksandr Alenitsyn',
 'Václav Balšán',
 'Viktor Baranov',
 'Jerzy Dzięcioł',
 'Jin-Seon Yu',
 'Konstantinos Kariotis',
 'Ed Don George',
 'Mohammad Malik Arshad',
 'Albert Martin',
 'Nabil Abdul Tahlak',
 'I. Markou',
 'Georgi Danchev',
 'Hassan Al-Absi',
 'Antonie de Gee',
 'Yvonne von Kauffungen',
 'Kurt Einsiedel',
 'Marius Etcheparré',
 'Miltiadis Iatrou',
 'Divya Tewar',
 'Josef Přidal',
 'Will Hildreth',
 'Barbra Higgins',
 'Hiếu Hiền Ðặng',
 'Aladár Háberl',
 'Mohammed Yaseen Mohammed',
 'A. Kadar',
 'Ernie Smith',
 'Jørgen Barth-Jørgensen',
 'Choon-Za Kim',
 'Lajos Csejthey',
 'Luis Torralva',
 'Bill Kirschbaum',
 'Yevgeny Yevsyukov',
 'Ruth Langer',
 'Dora Schönemann',
 'Artur Akoyev',
 'Lennart Lind',
 'Rainer Bergmann',
 'Georges Leuillieux',
 'Willie Toweel',
 'Petre Pavel',
 'José Manuel Soto',
 'Yeong-Seo Gang',
 'Conrad Hauge',
 'Bong-Su Kim',
 'Abby Hoffman',
 'Sara Teitelbaum',
 'Wim Esajas',
 'Martin Brustmann',
 'Dorothy Franey',
 'Cuiting Chen',
 'Frank Carter',
 'Wally Beavers',
 'Ivaylo Sharankov',
 'Jaap Sjouwerman',
 'Sol. Xenopoulos',
 'Alex Hurd',
 'Georges Bordier',
 'Dölgöön Batsaikhanyn',
 'Tim Boyd',
 'Szabolcs Izsák',
 'Domingo Torralva',
 'Rogelio Weatherbee',
 'Katalin Pál-Ribáry',
 'Osman El-Sayed',
 'Émile Michelet',
 'Antonio Mariscal',
 '- Vanitakis',
 'Yury Sharkov',
 'Lazaros Kekhagias',
 'Bela Imre',
 'Carol Borges-Mendelblatt',
 'Nilo Marques Medeiros',
 'Alfredo Gaona',
 'Eun-Seok O',
 'Steve Mwema',
 'Victor Pierre Eggman',
 'Khuwaled Al-Harthi',
 'Arthur Bartlett',
 'Émile Fréteur',
 'Alessandro Messina',
 'Ganga Bahadur Thapa',
 'Helge Breckwoldt',
 'Nataliya Khoronenko-Mikhnevich',
 'Andrey Rybakov',
 'Abdul Latif Rozaihan',
 'Jeong-Yeon Jeong',
 'Yevheniya Filanenko',
 'Om Prasad Pun',
 'Louis Lallue',
 'Adolphe Dumont',
 'James Galli',
 "Joseph M'Bouroukounda",
 'Valentin Dzhonev',
 'Sharon Hedrick',
 'Dmitry Bankovsky',
 'Arnaud, Marquis de Castelbajac',
 'J. Schmöllerl',
 'Leo Ravilo',
 'Sid Jensen',
 'C. Chun Wang',
 'Gian-Ferdinando Tommaselli',
 'Nandinzayaa Gankhuyagiin',
 'F. Negri',
 'Antoine Longoudé',
 'Johannes Heuckelbach',
 'Olesia Zaitseva',
 'Ibrahim Al-Idokht',
 'Hui-Jin Jang',
 'Yevgeny Zykov',
 'Judy Canty',
 'Nadine Rolland',
 'Roger Delabassee',
 'Jin-Seop Jo',
 'Russell Brander',
 'Emily Woodruff',
 'Jim Murphy',
 '- Gille',
 'Yelena Matyushenko',
 'Mario Portolongo',
 'Toğrul Əsgərov',
 'Henk Hemsing',
 'Dorothea Dickinson',
 'Mikuláš Kucsera',
 'Mi-Gyeong Lee',
 'Alfred Nilsen',
 'Cootje van Kampen-Tonneman',
 'Frederick Toms',
 'Yury Chervanyov',
 'Dmitry Chernyshov',
 'Fred Lord',
 'Augusto Bonadio',
 'Mohinder Singh',
 'Aladár Bitskey',
 'Léon Coeckelberg',
 'José Ricardo Rodrigues',
 'Georges Bernaert',
 'Jouko Kuha',
 'Enkhbaatar Byambajavyn',
 'Reinaldo Paseiro',
 'Fatiha Ouali',
 'Sue Longden',
 'Kbary Salim',
 'Satpal Singh',
 'Aleksey Kolesov',
 '- Favier',
 'Gennady Garbuzov',
 'Harry Dunn',
 'Dave Hazewinkel',
 'Wasif Ibrahim',
 'Pyotr Asayonok',
 'Aleksey Ivanov',
 'George Kearns',
 'Nazlati Mohamed',
 'Zephaniah Ncube',
 'Mikhail Klecherov',
 'Ikhlef Ahmed Hadj Allah',
 'Aleksandr Alekseyev',
 'Hui-Sik Im',
 'Edvard Antonijevič',
 'Pradip Bode',
 '- De Poorten',
 'Prince Faisal Al-Shalan',
 'Svitlana Konstantynova',
 '- Van Schauwenbroeck',
 'Altantsetseg Byambajavyn',
 'Gilbert Van Cleve',
 'Yusuf Dalgınlı',
 'Janez Porenta',
 '- Debailly',
 "Pierre Dufour d'Astafort",
 'Bujie Duo',
 'John Odde',
 'Nanak Chand Thakur',
 'Yuliya Milko-Chernomorets',
 'Viktor Maygurov',
 'Semyon Kolobayev',
 'Pyotro Sarafyniuk',
 'Enrique Inostroza',
 'Isidor Bieri',
 'John Burra',
 'Karl Vilmundarson',
 'Émile Rettig',
 'Hanna Karnaushenko',
 'Lal Chand',
 'José Luis Villanueva',
 'Harry Houghton',
 'Üner Teoman',
 'Murray Gitlitz',
 'Ray Magee',
 'Richard von Arx',
 'Antal Kánya',
 'Joseph Castiglioni',
 'Jolán Mertin',
 'Alexander Spengler',
 'Pierre Tolar',
 'Rosen Vasilev',
 'Piet Belmer',
 'Juan Torruella, Jr.',
 'Rūdolfs Ronis',
 'Abdul Majeed',
 'Aleksey Shibko',
 'Aleksandrs Prokopčuks',
 'Ahmed Lutfi Shihad',
 'L. Cabrolié',
 'Clovis Cambon',
 'Ibrahim El-Dessouki',
 'Tijini Ben Kassou',
 'Ellen Babington',
 'Arthur Olsen',
 'Georgios Valakakis',
 'Maxime Landin',
 'Sara Blengsli Kværnø',
 'Michel Frédérick',
 'Eugène Grisar',
 'James McKenzie',
 'Khoilogdorj Megdiin',
 'Al. Blachère',
 'Vivian King',
 'Khadour Adnan',
 'Art Smoke',
 'Sandór Veres',
 'Mohamed Kedir',
 'Nat Moore',
 'Aleksandr Bersanov',
 'Kiril Georgiev',
 'Dashjamts Dovdongiin',
 'Olga Kardopoltseva',
 'Charles Brécy',
 'G. E. Stevens',
 '- Koubi',
 'Anatoly Petrov',
 'Nikola Vučević',
 'Muhammad Ramzan',
 '- Taube',
 'Ricardo Pueyo',
 'Yu-Ri Gwon',
 'Pierre Hernandez',
 'Camiel Vandevelde',
 'Arthur Chase',
 'Eddie Farrell',
 'Wilhelm Hansen',
 'Vera Kummerfeld',
 'Vladimír Vávra',
 'Vangelis Kouvelis',
 'Markus Maier',
 'George Fisher',
 'Vitaly Andreyev',
 'Xavier De Beukelaer',
 'Bengt Wallin',
 'Hugo Lilliér',
 'Mohamed Abu Sobea',
 'Sidney Ramsden',
 'Mozes Jacobs',
 'Marwan Suhail Aboud',
 'Ivan Cherezov',
 'Paul Texier',
 'Carlos Orellana',
 'Danny McDonald',
 'Tsend-Ayuush Namkhain',
 'Anny Cody-Morris',
 'Johannes Pedersen',
 'Harvey Lacelle',
 'Alex Oakley',
 'István Zsadanyi',
 'Bakhyt Odnoin',
 'Oscar Simón',
 'Octave Alleaume',
 '- Dufau',
 'Juan Escutia',
 'Ihor Tselovalnykov',
 'A. Gonzani',
 'Becky Smith',
 'Aimé-Joseph Escudie',
 'Bong-Sik Pak',
 'Alberto Ramos',
 'Vanessa Kolodinskaya',
 'Lena Valaoritou',
 'Marianna Nagy',
 'Nikolay Zuyev',
 'Victor Macha',
 'Yinjiya Sai',
 'Marcel Quilbeuf',
 'Felicia Țilea-Moldovan',
 'Joseph Welzenbacher',
 'Ahmed Al-Ahmed',
 'Alisa Xalıyeva',
 'Robert Jolly',
 'Arvid Hoflund',
 'K. Meraklis',
 'Jozef Herda',
 'Yevgeny Zhernosek',
 'Ray Bateman, Jr.',
 'Filip Löwendahl',
 'Jamie Pagendam',
 'Frederico Burnay',
 'Jackie Galloway',
 'José Macedo',
 'Byambasüren Nyamtserengiin',
 'Gyu-Cheol Jang',
 'Peter Young',
 'Khasan Isaev',
 'Andrew Young',
 'Da-Wun Jeong',
 'Angelo Vaccari',
 'Bill Kennedy',
 'Jae-Gi Jo',
 'Abdullah Al-Usaimi',
 'Viktoriya Troitskaya-Taranina',
 'Nadezhda Radovitskaya',
 'Anastasiya Novikova',
 'Luigi Faure',
 'Yong-Cheol Jo',
 'Tom Linton',
 'Sergey Sharikov',
 'Pietro Bignamini',
 'Tadeusz Gorzechowski',
 'Anicet Sambo',
 'Vitaliy Martsiv',
 'Pərviz Bağırov',
 'Yelena Matoshko',
 'Ruth Hauser',
 'Edmund Aspinall',
 'Mihály Váradi',
 'Şərif Şərifov',
 'Lars Erik Tirén',
 'Sergey Chepikov',
 'Masini Situ-Kumbanga',
 'Harry Kiener',
 'Aldo Cigheri',
 'Seung-Rip O',
 'Stelios Benardis',
 'Pyotr Zayev',
 'Ryszard Błażyca',
 'Hans Schwerzmann',
 'Sayed Farhad',
 'In-Won Jang',
 'Nikolaos Kouloumberdas',
 '- Geor',
 'Giulan Liu',
 'James Hill',
 'Tetiana Lysenko',
 'Al Cantello',
 'Gerasimos Anagnostou',
 'Erling Seeberg',
 'Olga Khudenko',
 'Mário Maurity',
 'Freddie Tomlins',
 'Hussain Mohamed Hassan',
 'Magomed Nurutdinov',
 'Gonzalo Alvarado',
 'Yury Shlyapin',
 'Oyuunbold Dugarsürengiin',
 'Nikolay Novikov',
 'Antero Viljaharju',
 'G. Guillotin',
 'Erich Spörer',
 'Aleksandr Panzhinsky',
 'Nikolay Shubyonok',
 'Rostyslav Zaulychniy',
 'Harry Gissing',
 'Ron Foubister',
 'Perry Martter',
 'Cavid Tağıyev',
 'Norayr Nurikyan',
 'Tuyana Dashidorzhiyeva',
 'Krisjānis Kundziņš',
 'Gerry Collins',
 'Léon Roller',
 'Mikhail Krasilov',
 'Joseph Ducrot',
 ...}

In [33]:
# oula, il y a des différences... on va essayer de corriger ça
missing_athletes_df = cleaned_results[cleaned_results['athlete_full_name'].isin(missing_athletes)][['athlete_full_name', 'athlete_url']]
# supprimer les doublons
missing_athletes_df.drop_duplicates(inplace=True)

In [34]:
def get_games_participations(athlete_full_name: str) -> int:
    '''
    Retourne le nombre de participations à des JO
    déterminé par le nombre de valeurs uniques de la colonne 'slug_game'
    '''
    return len(cleaned_results[cleaned_results['athlete_full_name'] == athlete_full_name]['slug_game'].unique())

In [35]:
missing_athletes_df['games_participations'] = missing_athletes_df['athlete_full_name'].apply(get_games_participations)

In [36]:
# on détermine les premiers jeux olympiques de chaque athlète en fonction de la date parsée dans le slug_game
def get_first_games(athlete_full_name: str) -> str:
    '''
    Retourne les premiers jeux olympiques
    '''
    all_athlete_games = cleaned_results[cleaned_results['athlete_full_name'] == athlete_full_name]['slug_game']
    all_athlete_games = all_athlete_games.drop_duplicates()

    if(all_athlete_games.empty):
        return None
    
    if(all_athlete_games.shape[0] == 1):
        return all_athlete_games.iloc[0]
    
    # sinon on récupère les 4 derniers caractères du slug (année des JO) et on renvoi le slug dont l'année est la plus petite
    return all_athlete_games[all_athlete_games.str[-4:].astype(int).idxmin()]

In [37]:
missing_athletes_df['first_game'] = missing_athletes_df['athlete_full_name'].apply(get_first_games)

In [38]:
# on rempli les colonnes athlete_year_birth	athlete_medals	bio avec des valeurs nulles
missing_athletes_df['athlete_year_birth'] = 0
missing_athletes_df['athlete_medals'] = None
missing_athletes_df['bio'] = None

In [39]:
missing_athletes_df.head()

,athlete_full_name,athlete_url,games_participations,first_game,athlete_year_birth,athlete_medals,bio
10,NaN,NaN,0,None,0,None,None
1920,Alexandru Stefan STEFANESCU,https://olympics.com/en/athletes/alexandru-ste...,1,beijing-2022,0,None,None
2692,Raimo VIGANTS,https://olympics.com/en/athletes/raimo-vigants,1,beijing-2022,0,None,None
2698,Thibaut DE MARRE,https://olympics.com/en/athletes/thibaut-de-marre,1,beijing-2022,0,None,None
3142,CIRENZHANDUI,https://olympics.com/en/athletes/cirenzhandui,1,beijing-2022,0,None,None

In [40]:
# on merge les deux dataframes
athletes = pd.concat([athletes, missing_athletes_df], ignore_index=True)

In [41]:
athletes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83875 entries, 0 to 83874
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75929 non-null  object
 1   athlete_full_name     83874 non-null  object
 2   games_participations  83875 non-null  int64
 3   first_game            83852 non-null  object
 4   athlete_year_birth    83875 non-null  int64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: int64(2), object(5)
memory usage: 4.5+ MB

In [42]:
# exportation
athletes.to_csv('exports/olympic_athletes_cleaned.csv', index=False, encoding='utf-8')

In [43]:
# TODO: déterminer la matrice des pays des athlètes

### Pays

On exporte les données dédupliquées et nettoyées des pays pour faciliter l'insertion en base de données

In [44]:
countries = cleaned_results[['country_name', 'country_code', 'country_3_letter_code']]
countries.head()

  country_name country_code country_3_letter_code
0        Italy           IT                   ITA
0        Italy           IT                   ITA
1       Norway           NO                   NOR
1       Norway           NO                   NOR
2       Sweden           SE                   SWE

In [45]:
# suppression des doublons
countries = countries.drop_duplicates()

In [46]:
# vérification des valeurs nulles
countries.isnull().sum()

country_name              0
country_code             22
country_3_letter_code     0
dtype: int64

In [47]:
# on vérifie l'unicité des codes pays pour assurer l'intégrité des données
countries['country_3_letter_code'].duplicated().sum()

9

In [48]:
# voir les valeurs dupliquées
countries[countries['country_3_letter_code'].duplicated()]

,country_name,country_code,country_3_letter_code
10366,Singapore,NaN,SGP
10686,Norway,NaN,NOR
12976,The Former Yugoslav Republic of Macedonia,MK,MKD
14637,Ivory Coast,CI,CIV
18087,US Virgin Islands,VI,ISV
21592,British Virgin Islands,VG,IVB
26082,Swaziland,SZ,SWZ
67250,Nigeria,NaN,NGR
89264,Zambia,NaN,ZAM

In [49]:
# on garde la ligne avec la valeur non nulle de country_code
countries = countries.sort_values('country_code').drop_duplicates('country_3_letter_code', keep='first')

In [50]:
# exportation
countries.to_csv('exports/olympic_countries.csv', index=False, encoding='utf-8')

### Discipline

On exporte les données dédupliquées et nettoyées des disciplines pour faciliter l'insertion en base de données

In [51]:
disciplines = cleaned_results[['discipline_title']]
disciplines.head()

  discipline_title
0          Curling
0          Curling
1          Curling
1          Curling
2          Curling

In [52]:
# supprimer les doublons
disciplines = disciplines.drop_duplicates()

In [53]:
# vérification des valeurs nulles
disciplines.isnull().sum()

discipline_title    0
dtype: int64

In [54]:
# exportation
disciplines.to_csv('exports/olympic_disciplines.csv', index=False, encoding='utf-8')

###  Jeux

In [55]:
hosts = pd.read_xml('imports/olympic_hosts.xml', encoding='utf-8')
hosts.set_index('index', inplace=True)
hosts.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
index,,,,,,,
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [56]:
hosts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_slug        53 non-null     object
 1   game_end_date    53 non-null     object
 2   game_start_date  53 non-null     object
 3   game_location    53 non-null     object
 4   game_name        53 non-null     object
 5   game_season      53 non-null     object
 6   game_year        53 non-null     int64
dtypes: int64(1), object(6)
memory usage: 3.3+ KB

In [57]:
# vérifier les valeurs dupliquées
hosts.duplicated().sum()

0

In [58]:
# vérifier les valeurs nulles
hosts.isnull().sum()

game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

In [59]:
# vérifier si on n'a que deux saisons
hosts['game_season'].unique()

array(['Winter', 'Summer'], dtype=object)

In [60]:
# on vérifie si les données des résultats sont cohérentes avec les données des hôtes
results_hosts = cleaned_results['slug_game'].unique()
hosts_games = hosts['game_slug'].unique()

# différences
missing_hosts = set(results_hosts) - set(hosts_games)
missing_hosts

set()

In [61]:
# on projette d'utiliser la table des pays comme clé étrangère pour la colonne game_location
# on vérifie si les pays sont bien renseignés
countrie_names = countries['country_name'].unique()
hosts_countries = hosts['game_location'].unique()

# différences
missing_countries = set(hosts_countries) - set(countrie_names)
missing_countries

{'Australia, Sweden', 'China', 'USSR', 'United States'}

In [62]:
# heureusement il n'y a pas beaucoup de différence, on les règle à la main
hosts = hosts.replace({ 'game_location': { 
    'United States': 'United States of America',
    'Australia, Sweden': 'Australia',
    'USSR': 'Soviet Union',
    'China': 'People\'s Republic of China' }})

In [63]:
# on vérifie si le netttoyage a bien été effectué
hosts_countries = hosts['game_location'].unique()
missing_countries = set(hosts_countries) - set(countrie_names)
missing_countries

set()

In [64]:
# exportation
hosts.to_csv('exports/olympic_hosts_cleaned.csv', encoding='utf-8')

### Evenements

In [65]:
events = cleaned_results[['event_title', 'discipline_title', 'slug_game']]
events.head()

     event_title discipline_title     slug_game
0  Mixed Doubles          Curling  beijing-2022
0  Mixed Doubles          Curling  beijing-2022
1  Mixed Doubles          Curling  beijing-2022
1  Mixed Doubles          Curling  beijing-2022
2  Mixed Doubles          Curling  beijing-2022

In [66]:
# supprimer les doublons
events = events.drop_duplicates()

In [67]:
# vérifier des valeurs nulles
events.isnull().sum()

event_title         0
discipline_title    0
slug_game           0
dtype: int64

In [68]:
def get_event_gender(title: str) -> str:
    '''
    Détermine le genre de l'événement en fonction du titre
    '''
    title = title.lower()
    if "women" in title or "ladi" in title:
        return 'Women'
    if "men" in title:
        return 'Men'
    if "mixed" in title:
        return 'Mixed'
    return 'Men'

In [69]:
# ajout de la colonne event_gender
events['event_gender'] = events.apply(lambda x: get_event_gender(x['event_title']), axis=1)

In [70]:
# exportation
events.to_csv('exports/olympic_events.csv', index=False, encoding='utf-8')