In [1]:
# Q1 : France has hosted 6 Olympic Games: 3 Winter and 3 Summer (including the one in 2024).

In [2]:
import pandas as pd

In [3]:
df_hosts = pd.read_csv('../clean_data/data/output/hosts.csv')

In [4]:
df_hosts.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [5]:
french_hosts = df_hosts[df_hosts['game_location'] == 'France']
french_hosts.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
16,albertville-1992,1992-02-23T19:00:00Z,1992-02-08T07:00:00Z,France,Albertville 1992,Winter,1992
28,grenoble-1968,1968-02-18T19:00:00Z,1968-02-06T07:00:00Z,France,Grenoble 1968,Winter,1968
45,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
46,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
51,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900

In [6]:
winter = len(french_hosts[french_hosts['game_season'] == "Winter"])
summer = len(french_hosts[french_hosts['game_season'] == "Summer"]) + 1

print(f"With 2024, France will have hosted the Winter Olympics {winter} times and the Summer Olympics {summer} times")

With 2024, France will have hosted the Winter Olympics 3 times and the Summer Olympics 3 times

In [7]:
# Q2. France is the second country to have hosted the most Olympic Games after the USA (8 Olympics).

In [8]:
host_counts = df_hosts['game_location'].value_counts()
print(host_counts)

game_location
United States                  8
France                         5
Japan                          4
Great Britain                  3
Canada                         3
Italy                          3
Norway                         2
Germany                        2
Switzerland                    2
Austria                        2
China                          2
Greece                         2
Republic of Korea              2
Australia                      1
Spain                          1
Yugoslavia                     1
USSR                           1
Russian Federation             1
Federal Republic of Germany    1
Mexico                         1
Australia, Sweden              1
Finland                        1
Brazil                         1
Netherlands                    1
Belgium                        1
Sweden                         1
Name: count, dtype: int64

In [9]:
if host_counts.index[1] == 'France':
    print("Yes, France is the second country to host the Olympics.")

Yes, France is the second country to host the Olympics.

In [10]:
# Q3 : The Winter Olympics were born in Chamonix in 1924

In [11]:
first_winter_olympic_games = df_hosts[(df_hosts['game_season'] == 'Winter')].sort_values('game_year').iloc[0]
first_winter_olympic_games

game_slug                 chamonix-1924
game_end_date      1924-02-05T20:00:00Z
game_start_date    1924-01-25T08:00:00Z
game_location                    France
game_name                 Chamonix 1924
game_season                      Winter
game_year                          1924
Name: 46, dtype: object

In [12]:
print("Yes, Winter Olympics were born in France at Chamonix in 1924.")

Yes, Winter Olympics were born in France at Chamonix in 1924.

In [13]:
# Q4 : Olympic Games in Paris, 1900: women can participate in the Olympics?

In [14]:
df_results = pd.read_csv('../clean_data/data/output/results_jo.csv')
df_results.head(20)

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,value_unit,value_type,event_gender
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,Mixed
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,Mixed
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,Mixed
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,Mixed
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,Mixed
5,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Zuzana HAJKOVA', 'https://olympics.com/en/a...",False,6,Czech Republic,CZ,CZE,NaN,NaN,Mixed
6,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jenny PERRET', 'https://olympics.com/en/ath...",False,7,Switzerland,CH,SUI,NaN,NaN,Mixed
7,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Vicky PERSINGER', 'https://olympics.com/en/...",False,8,United States of America,US,USA,NaN,NaN,Mixed
8,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Suyuan FAN', 'https://olympics.com/en/athle...",False,9,People's Republic of China,CN,CHN,NaN,NaN,Mixed
9,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Tahli GILL', 'https://olympics.com/en/athle...",False,10,Australia,AU,AUS,NaN,NaN,Mixed
10,Curling,Women,beijing-2022,GameTeam,GOLD,NaN,False,1,Great Britain,GB,GBR,NaN,NaN,Women
11,Curling,Women,beijing-2022,GameTeam,SILVER,NaN,False,2,Japan,JP,JPN,NaN,NaN,Women
12,Curling,Women,beijing-2022,GameTeam,BRONZE,NaN,False,3,Sweden,SE,SWE,NaN,NaN,Women
13,Curling,Women,beijing-2022,GameTeam,NaN,NaN,False,4,Switzerland,CH,SUI,NaN,NaN,Women
14,Curling,Women,beijing-2022,GameTeam,NaN,NaN,False,5,Canada,CA,CAN,NaN,NaN,Women
15,Curling,Women,beijing-2022,GameTeam,NaN,NaN,False,6,United States of America,US,USA,NaN,NaN,Women
16,Curling,Women,beijing-2022,GameTeam,NaN,NaN,False,7,People's Republic of China,CN,CHN,NaN,NaN,Women
17,Curling,Women,beijing-2022,GameTeam,NaN,NaN,False,8,Republic of Korea,KR,KOR,NaN,NaN,Women
18,Curling,Women,beijing-2022,GameTeam,NaN,NaN,False,9,Denmark,DK,DEN,NaN,NaN,Women
19,Curling,Women,beijing-2022,GameTeam,NaN,NaN,False,10,ROC,ROC,ROC,NaN,NaN,Women

In [15]:
slug_name = 'paris-1900'

nbr_events_women_paris1900 = len(df_results[(df_results['slug_game'] == slug_name) & (df_results['event_gender'].str.lower() == 'women')])
if nbr_events_women_paris1900 > 0:
  print('Yes women in 1900 in paris  could participate')

Yes women in 1900 in paris  could participate

In [16]:
# Q5. Only 4 athletes won medals at both the Winter and Summer Olympics. Only one of them, Christa Ludinger-Rothenburger, won medals in the same year?

In [17]:
merged_df_hosts = pd.merge(df_results, df_hosts, left_on='slug_game', right_on='game_slug', how='inner')
winter_df= merged_df_hosts[merged_df_hosts['game_season'].str.lower() == 'winter']
summer_df = merged_df_hosts[merged_df_hosts['game_season'].str.lower() == 'summer']

In [18]:
winter_df.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,...,value_unit,value_type,event_gender,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,...,NaN,NaN,Mixed,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,...,NaN,NaN,Mixed,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,...,NaN,NaN,Mixed,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,...,NaN,NaN,Mixed,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,...,NaN,NaN,Mixed,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022

In [19]:
import ast

def findPplinathletes(name, athletes):
    if isinstance(athletes, str):
        try:
            my_list = ast.literal_eval(athletes)
            for athlete in my_list:
                if athlete[0] == name:
                    return True
        except (SyntaxError, ValueError):
            pass  # Handle invalid input format
    return False

ChristaLudingerWinterDf = winter_df[winter_df['athletes'].apply(lambda x: findPplinathletes('Christa LUDING-ROTHENBURGER', x))]
ChristaLudingerSummerDf = summer_df[summer_df['athletes'].apply(lambda x: findPplinathletes('Christa LUDING-ROTHENBURGER', x))]
ChristaLudingerWinterDf.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,...,value_unit,value_type,event_gender,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
84162,Speed skating,1000m women,albertville-1992,Athlete,NaN,"[('Christa LUDING-ROTHENBURGER', 'https://olym...",NaN,8,Germany,DE,...,00:01:23:060,TIME,Women,albertville-1992,1992-02-23T19:00:00Z,1992-02-08T07:00:00Z,France,Albertville 1992,Winter,1992
84193,Speed skating,500m women,albertville-1992,Athlete,BRONZE,"[('Christa LUDING-ROTHENBURGER', 'https://olym...",NaN,3,Germany,DE,...,00:00:40:570,TIME,Women,albertville-1992,1992-02-23T19:00:00Z,1992-02-08T07:00:00Z,France,Albertville 1992,Winter,1992
93019,Speed skating,500m women,calgary-1988,Athlete,SILVER,"[('Christa LUDING-ROTHENBURGER', 'https://olym...",NaN,2,German Democratic Republic (Germany),DDDE,...,00:00:39:120,TIME,Women,calgary-1988,1988-02-28T03:00:00Z,1988-02-13T15:00:00Z,Canada,Calgary 1988,Winter,1988
93073,Speed skating,1000m women,calgary-1988,Athlete,GOLD,"[('Christa LUDING-ROTHENBURGER', 'https://olym...",NaN,1,German Democratic Republic (Germany),DDDE,...,00:01:17:650,TIME,Women,calgary-1988,1988-02-28T03:00:00Z,1988-02-13T15:00:00Z,Canada,Calgary 1988,Winter,1988
100226,Speed skating,500m women,sarajevo-1984,Athlete,GOLD,"[('Christa LUDING-ROTHENBURGER', 'https://olym...",NaN,1,German Democratic Republic (Germany),DDDE,...,00:00:41:020,TIME,Women,sarajevo-1984,1984-02-19T19:00:00Z,1984-02-08T07:00:00Z,Yugoslavia,Sarajevo 1984,Winter,1984

In [20]:
ChristaLudingerSummerDf.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,...,value_unit,value_type,event_gender,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
88071,Cycling Track,sprint women,seoul-1988,Athlete,SILVER,"[('Christa LUDING-ROTHENBURGER', 'https://olym...",NaN,2,German Democratic Republic (Germany),DDDE,...,NaN,NaN,Women,seoul-1988,1988-10-02T10:00:00Z,1988-09-16T22:00:00Z,Republic of Korea,Seoul 1988,Summer,1988

In [21]:
print("Christa Ludinger-Rothenburger have won summer and winter medals, and at same year 1988")

Christa Ludinger-Rothenburger have won summer and winter medals, and at same year 1988

In [22]:
# Q6. From 1924 to 1992, the winter and summer Olympics were held in the same year. Now, they are organized according to separate cycles with an alternation of 2 years?

In [23]:
df_hosts_before_1992 = df_hosts[df_hosts['game_year'] <= 1992]
df_hosts_before_1992.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
15,barcelona-1992,1992-08-09T18:00:00Z,1992-07-25T06:00:00Z,Spain,Barcelona 1992,Summer,1992
16,albertville-1992,1992-02-23T19:00:00Z,1992-02-08T07:00:00Z,France,Albertville 1992,Winter,1992
17,seoul-1988,1988-10-02T10:00:00Z,1988-09-16T22:00:00Z,Republic of Korea,Seoul 1988,Summer,1988
18,calgary-1988,1988-02-28T03:00:00Z,1988-02-13T15:00:00Z,Canada,Calgary 1988,Winter,1988
19,los-angeles-1984,1984-08-12T19:00:00Z,1984-07-28T15:00:00Z,United States,Los Angeles 1984,Summer,1984

In [24]:
df_hosts_after_1992 = df_hosts[df_hosts['game_year'] > 1992]
df_hosts_after_1992.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [25]:
print("Before 1993, summer and winter olympic games was at same time, not more since 1993, summer is always +2 than winter")

Before 1993, summer and winter olympic games was at same time, not more since 1993, summer is always +2 than winter

In [26]:
#Q7. Tarzan himself participated in the Olympics. Indeed, Johnny Weissmuller, former athlete turned actor and who played 12 films of Tarzan, won 5 gold medals in swimming in the 1920s?

In [27]:
df_athletes = pd.read_csv('../clean_data/data/output//athletes.csv')
df_athletes.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN

In [28]:
johnnyweissmuller_df = df_athletes[df_athletes['athlete_full_name'] == 'Johnny WEISSMULLER']
johnnyweissmuller_df.iloc[0]['athlete_medals']

'5G1B'

In [29]:
print('Tarzan actor won 5 golden medals and one bronze')

Tarzan actor won 5 golden medals and one bronze

In [30]:
# Q8. The 2012 London Olympics were the first Olympics in which all participating countries sent female athletes?

In [31]:
slug_london = 'london-2012'

countries_participating = merged_df_hosts[merged_df_hosts['slug_game'] == slug_london]

In [32]:
for country in countries_participating['country_name'].unique():
  curr_df_country = merged_df_hosts[(merged_df_hosts['slug_game'] == slug_london) & (merged_df_hosts['country_name'] == country) & (merged_df_hosts['event_gender'].str.lower() != 'men')]
  print(f"{country} {len(curr_df_country)}")

United States of America 200
Australia 128
Japan 103
Russian Federation 165
Great Britain 162
People's Republic of China 146
Canada 112
Czech Republic 48
France 103
Italy 94
Zimbabwe 5
Denmark 43
Ukraine 97
Spain 75
Netherlands 63
Germany 140
Mexico 43
Brazil 64
Poland 74
Singapore 16
Colombia 34
Belgium 33
New Zealand 49
Bulgaria 22
Iceland 9
Ireland 30
Slovenia 36
Sweden 60
Croatia 18
Hungary 58
Kazakhstan 35
Hong Kong, China 21
Turkey 35
Honduras 2
Andorra 1
Uruguay 2
Armenia 4
Monaco 1
South Africa 30
Serbia 26
Austria 29
Kenya 16
Papua New Guinea 3
Republic of Korea 74
Venezuela 32
Portugal 32
Switzerland 29
Belarus 58
Paraguay 4
Azerbaijan 16
Lithuania 23
Greece 23
Libya 0
Iraq 2
Bahrain 7
Israel 11
Uzbekistan 15
Slovakia 23
Chinese Taipei 29
Finland 29
Cuba 38
Jamaica 18
Morocco 13
Saint Lucia 2
Republic of Moldova 6
Bosnia and Herzegovina 2
Guam 2
Fiji 2
Mongolia 14
Guinea 1
Luxembourg 4
Georgia 7
Thailand 20
Kyrgyzstan 3
Madagascar 3
Estonia 10
Panama 1
Romania 37
Senegal 5
Syrian Arab Republic 5
Tonga 1
United Arab Emirates 1
Suriname 1
Lebanon 6
Norway 17
Trinidad and Tobago 6
Indonesia 8
Barbados 0
Argentina 23
Sri Lanka 2
Zambia 1
Bermuda 2
Cayman Islands 1
Egypt 27
Swaziland 0
Jordan 4
Mozambique 1
Bangladesh 1
Federated States of Micronesia 1
Cook Islands 4
Burkina Faso 2
Congo 2
Ivory Coast 5
Saint Vincent and the Grenadines 0
Marshall Islands 1
Nepal 2
Cambodia 2
Djibouti 2
Sudan 1
American Samoa 1
Rwanda 2
Uganda 2
Cameroon 5
Central African Republic 2
Lao People's Democratic Republic 0
Ethiopia 15
Benin 0
Ecuador 12
Angola 4
The Former Yugoslav Republic of Macedonia 1
El Salvador 5
Qatar 4
Tunisia 21
Cyprus 3
Mauritius 5
Seychelles 1
Nicaragua 2
Albania 3
Dominican Republic 6
Costa Rica 2
Peru 7
Philippines 3
Puerto Rico 3
Brunei 0
Chile 19
Liechtenstein 3
Malaysia 13
Aruba 1
Bahamas 2
Latvia 13
Malta 1
Malawi 1
Kuwait 3
Palau 2
Palestine 1
Antigua and Barbuda 1
Tajikistan 2
Mali 2
Maldives 1
Burundi 4
Niger 1
Togo 1
Lesotho 2
Turkmenistan 2
India 22
Algeria 7
US Virgin Islands 1
Guatemala 7
Bolivia 2
Islamic Republic of Iran 11
Grenada 2
Guyana 1
Pakistan 1
United Republic of Tanzania 1
San Marino 2
Comoros 1
Vietnam 11
Democratic People's Republic of Korea 20
Saudi Arabia 6
Nigeria 11
Namibia 3
Gabon 1
Montenegro 2
Independent Olympic Athletes 1
Botswana 1
Eritrea 1
Haiti 2
Saint Kitts and Nevis 0
Oman 0
Myanmar 3
Democratic Republic of Timor-Leste 1
Ghana 2
Liberia 0
Democratic Republic of the Congo 0
Samoa 3
Bhutan 2
Guinea-Bissau 1
Afghanistan 0
Vanuatu 1
Nauru 0
Tuvalu 0
Kiribati 0
Solomon Islands 1
Chad 1
Belize 0
Cape Verde 1
Yemen 0

In [33]:
print("Not all country have send women athletes to London 2012")

Not all country have send women athletes to London 2012

In [34]:
#Q9. The following sports are (unfortunately) no longer part of the YO: Solo Synchronized Swimming, Rope Shooting, Rope Climbing, Hot Air Balloon, Pistol Duel, Tandem Bike, Obstacle Swimming and Remote Diving. Luckily, pigeon shooting was set up only once during the 1900 Paris Olympics?

In [35]:
results_shootin_pigeons = merged_df_hosts[merged_df_hosts['event_title'] == 'clay pigeons team men']
results_shootin_pigeons.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,...,value_unit,value_type,event_gender,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
150219,Shooting,clay pigeons team men,paris-1924,GameTeam,GOLD,NaN,NaN,1,United States of America,US,...,363,POINTS,Men,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
150220,Shooting,clay pigeons team men,paris-1924,GameTeam,SILVER,NaN,NaN,2,Canada,CA,...,360,POINTS,Men,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
150221,Shooting,clay pigeons team men,paris-1924,GameTeam,BRONZE,NaN,NaN,3,Finland,FI,...,360,POINTS,Men,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
150222,Shooting,clay pigeons team men,paris-1924,GameTeam,NaN,NaN,NaN,4,Belgium,BE,...,354,POINTS,Men,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
150223,Shooting,clay pigeons team men,paris-1924,GameTeam,NaN,NaN,NaN,4,Sweden,SE,...,354,POINTS,Men,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924

In [36]:
print("The pigeon shooting did not stop at the 1900 Paris Olympics")

The pigeon shooting did not stop at the 1900 Paris Olympics

In [37]:
# Q10. The 2016 Games, in Rio, will mark the 1st event of the Olympics in South America?

In [38]:
df_hosts['game_location'].unique()

array(['China', 'Japan', 'Republic of Korea', 'Brazil',
       'Russian Federation', 'Great Britain', 'Canada', 'Italy', 'Greece',
       'United States', 'Australia', 'Norway', 'Spain', 'France',
       'Yugoslavia', 'USSR', 'Austria', 'Federal Republic of Germany',
       'Mexico', 'Australia, Sweden', 'Finland', 'Switzerland', 'Germany',
       'Netherlands', 'Belgium', 'Sweden'], dtype=object)

In [39]:
df_brazil_host = df_hosts[df_hosts['game_location'] == 'Brazil']
df_brazil_host.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016

In [40]:
print("Yes ! The olympic games 2016 at RIO, been first event in sud america")

Yes ! The olympic games 2016 at RIO, been first event in sud america

In [41]:
# Q11. During the 17 days of the 2016 Summer Olympics, 10,500 athletes from 205 countries will represent 42 different sports and participate in 306 events in Rio?

In [42]:
results_joBrazil = merged_df_hosts[merged_df_hosts['slug_game'] == 'rio-2016']
results_joBrazil.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,...,value_unit,value_type,event_gender,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
14354,Cycling BMX,Individual women,rio-2016,Athlete,GOLD,"[('Mariana PAJON', 'https://olympics.com/en/at...",NaN,1,Colombia,CO,...,00:00:34:093,TIME,Women,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
14355,Cycling BMX,Individual women,rio-2016,Athlete,SILVER,"[('Alise POST', 'https://olympics.com/en/athle...",NaN,2,United States of America,US,...,00:00:34:435,TIME,Women,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
14356,Cycling BMX,Individual women,rio-2016,Athlete,BRONZE,"[('Stefany HERNANDEZ', 'https://olympics.com/e...",NaN,3,Venezuela,VE,...,00:00:34:755,TIME,Women,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
14357,Cycling BMX,Individual women,rio-2016,Athlete,NaN,"[('Brooke CRAIN', 'https://olympics.com/en/ath...",NaN,4,United States of America,US,...,00:00:35:520,TIME,Women,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
14358,Cycling BMX,Individual women,rio-2016,Athlete,NaN,"[('Yaroslava BONDARENKO', 'https://olympics.co...",NaN,5,Russian Federation,RU,...,00:00:36:017,TIME,Women,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016

In [43]:
print(f" Il y a eu {len(results_joBrazil['discipline_title'].unique())} sports")

 Il y a eu 41 sports

In [44]:
import numpy as np
print(f"Il y aura {len(np.unique(results_joBrazil[['discipline_title', 'event_title']].values))} épreuves")

Il y aura 330 épreuves

In [45]:
print(f" Il y a eu {len(results_joBrazil['country_name'].unique())} pays différents")

 Il y a eu 199 pays différents

In [46]:
# Q12 How many medals has France won: in all, gold, silver and bronze (since the beginning of the Olympics)?

In [47]:
results_france_gold = len(merged_df_hosts[(merged_df_hosts['country_name'] == 'France') & (merged_df_hosts['medal_type'] == "GOLD")])
results_france_gold

261

In [48]:
results_france_silver = len(merged_df_hosts[(merged_df_hosts['country_name'] == 'France') & (merged_df_hosts['medal_type'] == "SILVER")])
results_france_silver

289

In [49]:
results_france_bronze = len(merged_df_hosts[(merged_df_hosts['country_name'] == 'France') & (merged_df_hosts['medal_type'] == "BRONZE")])
results_france_bronze

330

In [50]:
# Q13 At which Olympics did France have the most (least) success?

In [51]:
gold_medals_france_by_year = merged_df_hosts[(merged_df_hosts['country_name'] == 'France')].groupby('game_year')['medal_type'].count()
gold_medals_france_by_year

game_year
1896    11
1900    97
1904     1
1908    19
1912    14
1920    41
1924    41
1928    22
1932    20
1936    19
1948    34
1952    18
1956    14
1960     8
1964    22
1968    24
1972    16
1976    10
1980    15
1984    31
1988    18
1992    38
1994     5
1996    37
1998     8
2000    38
2002    11
2004    33
2006     9
2008    41
2010    11
2012    35
2014    15
2016    42
2018    15
2020    33
2022    14
Name: medal_type, dtype: int64

In [52]:
year_most_gold = gold_medals_france_by_year.idxmax()

year_least_gold = gold_medals_france_by_year.idxmin()

print(f"france best performance was {year_most_gold} and lower was {year_least_gold}")

france best performance was 1900 and lower was 1904

In [53]:
# Q14 Can we consider that France is the great specialist of certain discipline(s) sports (s), compared to other notions? Which/ Which ones?

In [54]:
gold_medals_france_by_sports = merged_df_hosts[(merged_df_hosts['country_name'] == 'France')].groupby('discipline_title')['medal_type'].count()
gold_medals_france_by_sports.head(10)

discipline_title
3x3 Basketball          0
Alpine Skiing          51
Archery                25
Artistic Gymnastics     0
Artistic Swimming       0
Athletics              70
Badminton               0
Basketball              5
Beach Volleyball        0
Biathlon               32
Name: medal_type, dtype: int64

In [55]:
top_5_gold_medals_france_by_sports = gold_medals_france_by_sports.sort_values(ascending=False).head(5)
top_5_gold_medals_france_by_sports

discipline_title
Fencing          123
Athletics         70
Cycling Track     67
Judo              57
Alpine Skiing     51
Name: medal_type, dtype: int64

In [56]:
medals_by_country_sport = merged_df_hosts.groupby(['country_name', 'discipline_title'])['medal_type'].count().reset_index()
medals_by_country_sport.head(5)

  country_name discipline_title  medal_type
0  Afghanistan        Athletics           0
1  Afghanistan           Boxing           0
2  Afghanistan         Football           0
3  Afghanistan           Hockey           0
4  Afghanistan             Judo           0

In [57]:
disciplines_only = [discipline for discipline, count in list(top_5_gold_medals_france_by_sports.items())]
disciplines_only

['Fencing', 'Athletics', 'Cycling Track', 'Judo', 'Alpine Skiing']

In [58]:
for discipline in disciplines_only:
  sorted_discipline_medals = medals_by_country_sport[medals_by_country_sport['discipline_title'] == discipline].sort_values(by='medal_type', ascending=False)
  print(sorted_discipline_medals.head())

                  country_name discipline_title  medal_type
2156                     Italy          Fencing         130
1463                    France          Fencing         123
1898                   Hungary          Fencing          90
3952              Soviet Union          Fencing          49
4517  United States of America          Fencing          33
                  country_name discipline_title  medal_type
4492  United States of America        Athletics         824
1654             Great Britain        Athletics         211
3937              Soviet Union        Athletics         193
1390                   Finland        Athletics         114
1579                   Germany        Athletics         113
       country_name discipline_title  medal_type
1672  Great Britain    Cycling Track          79
1456         France    Cycling Track          67
191       Australia    Cycling Track          47
2150          Italy    Cycling Track          40
1595        Germany    Cycling Track          39
           country_name discipline_title  medal_type
2265              Japan             Judo          96
1473             France             Judo          57
3496  Republic of Korea             Judo          46
969                Cuba             Judo          37
2854        Netherlands             Judo          24
                  country_name discipline_title  medal_type
239                    Austria    Alpine Skiing         128
4125               Switzerland    Alpine Skiing          75
1434                    France    Alpine Skiing          51
4488  United States of America    Alpine Skiing          48
2991                    Norway    Alpine Skiing          40

In [59]:
# Q15. What are the most dominant sports in the Olympics over the years?

In [60]:
top_sports_jo = merged_df_hosts.groupby('discipline_title')['discipline_title'].count()
top_sports_jo.sort_values(ascending=False).head(5)

discipline_title
Athletics              19259
Swimming               14704
Shooting               10599
Alpine Skiing          10185
Gymnastics Artistic     9569
Name: discipline_title, dtype: int64